---
  - name: Install mongodb-server
    apt: name=mongodb-server state=latest
  
  - name: Install daemon package
    apt: name=daemon state=latest

  - name: Create mongo dbpath
    file: path=/data/db state=directory mode=0755

  - name: Copy the mongob.conf custom configuration
    copy: src=mongod.conf dest=/etc/mongodb.conf

  - name: Start mongo daemon
    shell: daemon -- /usr/bin/mongod --config /etc/mongodb.conf --replSet rs0

  #- pause: seconds=15
