---
- name: Create the mongo-replica working directory
  file: path=/tmp/mongo-replica state=directory mode=0755

- name: Copy the primary.js script to /tmp/mongo-replica
  copy: src=primary.js dest=/tmp/mongo-replica/primary.js

- name: Copy the start replicaset script to /tmp/mongo-replica
  copy: src=start_rs.js dest=/tmp/mongo-replica/start_rs.js

- pause: seconds=2

- name: Start replica set configuration
  shell: mongo --port 27017 /tmp/mongo-replica/start_rs.js

#- pause: seconds=10

#- name: Forcing node 01 as primary for replica set
#  shell: mongo --port 27017 /tmp/mongo-replica/primary.js
